<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- style because reasons (mostly that I like to code in the dark)-->
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
